* {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: black;
}

body {
  background: url(./assets/hent.jpeg) no-repeat top center/cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body * {
  font-family: "Courgette", cursive;
  color: white
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 80px;
  border-radius: 50%;
  height: 80px;
  object-fit: cover;
  margin-top: -100px;
}

#profile p {
  font-weight: 400;
  line-height: 24px;
  margin-top: 100px;
  font-size: 24px;
  color: white;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  justify-content: center;
  display: flex;
  align-items: center;


  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 64px;
  text-decoration: none;
  font-weight: 400;
}

/* pseudo-selector */
ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid white;
}

.tremble-animation {
  animation-name: tremble;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes tremble {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

/* icon */
li img {
  display:flex;
  height: 2rem;
}
li a p {
width: 100%;
text-align: center;
}


#social-links ion-icon {
  color: #333333
}

#social-links {
  display: flex;
  gap: 30px;
  justify-content: center;

  
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
}

ul li.seesaw-item {
  display: none;
}

/* Estilizando o botão */
#show-hidden-items {
  background-color: black;
  color: red;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  margin-top: 20px;
}

/* Efeito hover */
#show-hidden-items:hover {
  background-color: black;
}

#button-container {
  text-align: center; /* Centraliza o botão horizontalmente */
  margin-bottom: 20px;
}
/* margin-right: 5rem;*/
/*height: 3em;